.section-about{
    background-color: $color-grey-light-1;
    padding:20rem 0;
}
.section-best-selling-books, .section-recommendations {
    background-color: $color-grey-light-1;
    padding:25rem 0 50rem 0;
    
    



}


.section-stories{
    padding: 15rem 0;
    background-color: $color-grey-light-1;
    background-size:cover;
}

.section-feedback{
    padding: 15rem 0;
    background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);

}

.feedback{
    background-image:linear-gradient(105deg,
    rgba(white,0.9)0%,
    rgba(white,0.9)50%,
    transparent 50%),url(img/bookstore4.jpg);
    background-size:100%;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
    height:58rem;
    
    &_form{
        width: 50%;
        padding: 6rem;
    }

}
