.section-about{
    background-color: $color-grey-light-1;
    padding:20rem 0;
}
.section-best-selling-books, .section-recommendations {
    background-color: $color-grey-light-1;
    padding:25rem 0 50rem 0;
    
    



}


.section-stories{
    padding: 15rem 0;
    background-color: $color-grey-light-1;
    background-size:cover;
}